.v-container {
  max-width: 650px;
}

.v-progress-circular__underlay {
  opacity: 0 !important;
}

.v-list-item__append .v-btn{
  background-color:transparent !important;
}

.v-app-bar{
  box-shadow: none !important;
  border-bottom: 1px solid #ccc !important
}

.v-tab--selected{
  font-weight: bold;
}
/* for dark-theme */
.v-app-bar.v-theme--dark{
  border-bottom: 1px solid #222 !important;
  background-color: rgb(var(--v-theme-background));
}
.v-list.v-theme--dark{
  background-color:rgb(var(--v-theme-background));
}